    :root  {
      --defaultAnimDuration : 1.5s;
    }

  .rotateInAnim {

    animation-name: rotateYIn;
    animation-duration: var(--defaultAnimDuration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /* animation-delay: 2.5s; */
  
  }
  
  @keyframes rotateYIn {
    0% { transform: rotateY(-90deg); }

    100% { transform: rotateY(0deg);}
  }

  .fadeInAnim {
    animation-name: fadeIn;
    animation-duration: var(--defaultAnimDuration);
    animation-timing-function: ease-in-out; 
    animation-fill-mode: backwards;
    animation-delay: 0.8s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .scaleInAnim {
  animation-name: scaleInXY;
  animation-duration:var(--defaultAnimDuration);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleInXY {
  0% { transform: scale(0, 0);}
  5% { transform: scale(0.2, 0.2);}
  30% { transform: scale(1, 0);}
  100% {transform : scale(1, 1) ;}
}

.scaleOutAnim {
  animation-name: scaleOut; 
  animation-duration: var(--defaultAnimDuration);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleOut {
  0% { transform: scale(1, 1);}
  5% { transform: scale(1, 0.8);}
  30% { transform: scale(1, 0.2);}
  /* 80% { transform: scale(0.2, 0.2);} */
  100% {transform : scale(0, 0.3) ;}
}

.fadeInFromBelowAnim
{
  animation: fadeInFromBelow 0.8s ease 0s 1 normal forwards;
}


@keyframes fadeInFromBelow {
  0% { transform: translateY(30px); opacity: 0;}
  100% { transform: translateY(0); opacity: 1;}
}

@keyframes slideInLeft {
  0% { transform: translateX(-300px);  }
  100% { transform: translateX(0);}
}