/* --------- maane.html ------------ */

.genereltListItem {
  padding-left:0px;
  padding-right:41px;
}

.navListMaanene {
  list-style-type: none;
  gap:25px;  
  font-size: 32px;
  padding-left:0px;
  padding-right:26px;
}

.genereltSection {
  scroll-margin-top:200px;
  flex-direction: column;
  align-items: center;
  padding-bottom:140px;
}

.moonImg, .enceladusImg1, .enceladusImg2 {
  width:40%;

}
.moonImg {
  margin-top: 170px;
}

.enceladusImg1 {
  margin-top: 200px;
}

.enceladusImg2 {
  margin:0;
}

.moonSection, .enceladusSection, .titanSection {
  scroll-margin-top: 220px;
}

.moonSection {
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
 /* width: 1350px; */
  gap:7vw;


  padding-bottom: 120px;
}

.enceladusSection {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moonDiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.enceladusDiv {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom:110px;
  gap:7vw;
}

.titanSection, .titanImgText {
  flex-direction: column;
  align-items: center;

}

.titanImgText {
  padding-bottom: 40px;

}

.titanCoreImg {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius : 5px;

}

.titanImg {
  width: 85vw;
}

.titanCoreImg {
  width: 80vw;
}


@media (max-width: 426px) {
  
  h3 {
    text-align: center;
  }
  
  .genereltListItem {
     padding: 0;
  }
 
  .navListMaanene {
    list-style-type: none;
    gap:3px;  
    font-size: 19px;
    padding:12px 12px 12px 12px;
  }

  .logoMaaneImg {
    width: 18vw;
    
  }
  
  .moonImg {
    width:95%;
    margin:0;
    margin-bottom: 30px;
  }
.moonDiv {
  display: flex;

}
  .genereltSection {
    padding-bottom:50px;
  }

  .moonSection {

    flex-direction: column;
 
    padding-bottom: 51px;
  }

  
  .enceladusImg1, .enceladusImg2 {
    width:95%;
    margin-top: 0;
    
  }

  .enceladusImg1 {
    margin-bottom: 30px;
    /* width: 40%; */
  }
  .enceladusDiv {
    
    flex-direction: column;

    margin-top: 0;
    padding-bottom: 30px;
    gap:30px;

  }
  
  .titanImg {
    width:95vw;
  }
  
  .titanCoreImg {
    width:92vw;
  }
 
}