.subMenuDivExp {
    /* display: flex; */
 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primaryFontFamily);
  width:100vw;
  height: 98px;
  border: 1px solid var(--borderColorMenu);

  position:sticky;
  top:94px;
  background-color: black;
  z-index: 8;


}

.subMenuTextExp {
    font-size:60px;
  margin:0;
  padding:0;
  width:auto;
  color:white;

}




/* ---------- romferd.html ----------- */

.cassiniTitanImg2 {
  display: none;
}

.romferdSection {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.pioneerImgTextDiv, .voyager1ImgTextDiv, .voyager2ImgTextDiv {
  flex-direction: column;
  align-items: center;
  padding-bottom: 47px;
}

.navListRomferdene {
  list-style-type: none;
  gap:47px;
  font-size: 32px;
  padding-left:0;
  padding-right:33px;
}

.logoTextDivRomferd {
  padding-left: 33px;
  gap:47px;
  align-items: center;

}

.romferdSection {
  scroll-margin-top: 200px;
}

.pioneerImg, .voyager1Img, .voyager2Img {
    width : 48vw;
    mask-image: linear-gradient(to top, transparent 0%, black 5%, black 85%, transparent 100%),
              linear-gradient(to bottom, transparent 0%, black 5%, black 85%, transparent 100%),
              linear-gradient(to left, transparent 0%, black 5%, black 85%, transparent 100%),
              linear-gradient(to right, transparent 0%, black 5%, black 85%, transparent 100%);
  mask-mode: alpha;
  /* Combine the masks so they all apply */
  mask-composite: intersect; 
}

.cassiniLaunchImg {
width: 50%;
}

.cassiniLaunchText {

}

.cassiniLaunchImgTextDiv {
 flex-direction: column;
  gap:50px;

  align-items: center;
  justify-content: center;
  width: 60vw;
}

.cassiniTitanImg {
  width:58vw;
  
}

.cassiniTitanImgTextDiv, .grandFinaleImgTextDiv {
  flex-direction: column;
  align-items: center;
  padding-top: 47px;

}


.grandFinaleHeadingText {
  font-family: var(--primaryFontFamily);
  font-size: 48px;
  text-align: center;
}

.grandFinaleImg {
    width: 58vw;
    margin-top: 25px;
}
.videoCassini {
  padding-top:40px;
  padding-bottom:40px;
}


.button {
  margin:30px;
  width:744px;

  color:black;
  border-radius: 5px;
  font-family: var(--primaryTextFontFamily);
  font-size:19px;
  text-align:center;
  cursor: pointer;
}

.linkTextVoyager {
    
  /* margin: 25px 32px; */
  /* border: 3px solid lightgray;
  background:  linear-gradient(0deg, rgba(100,100,100,1) 0%, rgba(160, 160,160,1) 100%); */
  background: transparent;
  color:var(primaryTextColor);
    text-align: left;
  letter-spacing: 0px;
  width: fit-content;
  margin-top: 10px;
  margin-left: 50px;

left:20px;
  padding: 0;
  transition: all 0.3s ease-in-out;


  
}

.logoRomferdImg
{

  mask-image: linear-gradient(to top, transparent 0%, black 5%, black 85%, transparent 100%),
              linear-gradient(to bottom, transparent 0%, black 5%, black 85%, transparent 100%),
              linear-gradient(to left, transparent 0%, black 5%, black 85%, transparent 100%),
              linear-gradient(to right, transparent 0%, black 5%, black 85%, transparent 100%);
  mask-mode: alpha;
  /* Combine the masks so they all apply */
  mask-composite: intersect; 
}

.questionMarkImg {
  height: 50px;
     /* position :absolute;  */
    /* top: 0%;
    left : 0%; */
    opacity: 0.4;
    transition: all 0.4s ease;

    /* --webkit-filter: hue-rotate(0deg); */
    /* animation-name: fadeInOut;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
     animation-fill-mode: forwards; */
   
}
/* 
.lighMode {
  .questionMarkImg { filter:invert() ;}
} */

@keyframes fadeInOut
{
  0% { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg); }
  100% { -webkit-filter: hue-rotate(360deg); filter: hue-rotate(360deg); }
}


.questionMarkImg:hover {
    opacity : 1;
  transform: scale(1.4);
}

.anchorVoyager
{   
  color : lightskyblue;
  transition: all 0.4s ease-in-out;
}

 .anchorVoyager:hover {

    color: var(--secondaryMenuColor);
}
.questionVoyagerDiv
{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    /* position: relative; */
    width: 41vw;
    height: fit-content;
    margin-top: 20px;

}


@media (max-width: 426px) {

  .navListRomferdene {
    list-style-type: none;
      gap:3px;
      font-size: 19px;
      padding-left:12px;
      padding-right:12px;
      padding-top:12px;
      padding-bottom:12px;
  }
  .logoTextDivRomferd {
  
    justify-content: space-between;
    /* gap: 47px; */
    align-items: center;
    width: 100%;
    padding:0;
    margin-left: 5%;
    

  }

 .logoRomferdImg {
     width: 18vw; 
 }

  .subMenuDivExp {
    font-size: 100px;

    padding:0;
    margin: 0;

 }

 .subMenuTextExp {
  font-size: 7vw;
 }


  .pioneerImg, .voyager1Img, .voyager2Img {
    width: 90%;
  }

  .cassiniLaunchImg {
    width:295px;
  }

  .cassiniLaunchText {
    width:300px;
  }
  .cassiniLaunchImgTextDiv {
    flex-direction: column-reverse;
    gap:31px;
    margin: 0;

  }
  .mobileSetting {
    display: flex;
  }
  
  .cassiniTitanImg {
    /* width: 420px; */
    display: none;
  }
  .cassiniTitanImg2 {

    display: block;
    width: 95%;
  }

  .cassiniTitanImgTextDiv {
    padding: 0;
  }
  
  .grandFinaleImg {
    width: 95%;
  }
  .grandFinaleHeadingText {
    font-size: 24px;

  }
  
  .grandFinaleImgTextDiv {
    padding-bottom:0px;

  }
  
  .moreInfoButton {
    width: 344px;
    font-size:12px;

  }
  
  .questionVoyagerDiv {
    margin-top: 10px;
    width: 80%;
  }
  
}
