

/* ---------- romferd.html ----------- */

.romferdSection {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.pioneerImgTextDiv, .voyager1ImgTextDiv, .voyager2ImgTextDiv {
  flex-direction: column;
  align-items: center;
  padding-bottom: 47px;
}

.navListRomferdene {
  list-style-type: none;
  gap:47px;
  font-size: 32px;
  padding-left:0;
  padding-right:33px;
}

.logoTextDivRomferd {
  padding-left: 33px;
  gap:47px;
  align-items: center;
}

.romferdSection {
  scroll-margin-top: 200px;
}

.pioneerImg, .voyager1Img, .voyager2Img {
    width : 48vw;
}

.cassiniLaunchImg {
  width:20vw;
}

.cassiniLaunchText {
  width: 20vw;
}

.cassiniLaunchImgTextDiv {
  gap:110px;
  margin-bottom:104px;
}

.cassiniTitanImg {
  width:58vw;
}

.cassiniTitanImgTextDiv, .grandFinaleImgTextDiv {
  flex-direction: column;
  align-items: center;
  padding-top: 47px;

}


.grandFinaleHeadingText {
  font-family: var(--primaryFontFamily);
  font-size: 48px;
  text-align: center;
}

.grandFinaleImg {
    width: 58vw;
    margin-top: 25px;
}
.videoCassini {
  padding-top:40px;
  padding-bottom:40px;
}


.button {
  margin:30px;
  width:744px;

  color:black;
  border-radius: 5px;
  font-family: var(--primaryTextFontFamily);
  font-size:19px;
  text-align:center;
  cursor: pointer;
}

.moreInfoButton {
    
  margin: 25px 32px;
  border: 3px solid lightgray;
  background:  linear-gradient(0deg, rgba(100,100,100,1) 0%, rgba(160, 160,160,1) 100%);
  letter-spacing: 0px;
  transition-property: color border box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0;
  
}

.moreInfoButton:hover {

    
  box-shadow: 0px 0px 5px 5px rgba(221,221,221, 0.7);
  color:rgb(142, 0, 0);

  border: 4px solid #EE7700;

}

@media (max-width:426px) {

  .navListRomferdene {
    list-style-type: none;
      gap:3px;
      font-size: 19px;
      padding-left:12px;
      padding-right:12px;
      padding-top:12px;
      padding-bottom:12px;
  }
  .logoTextDivRomferd {
    gap:5px;
  }

  .pioneerImg, .voyager1Img, .voyager2Img {
    width: 344px;
  }

  .cassiniLaunchImg {
    width:295px;
  }

  .cassiniLaunchText {
    width:341px;
  }
  .cassiniLaunchImgTextDiv {
    flex-direction: column-reverse;
    gap:31px;
    padding-bottom: 25px;
  }

  .cassiniTitanImg {
    width: 420px;
  }

  
  .grandFinaleImg {
    width: 399px;
  }

  .grandFinaleHeadingText {
    font-size: 24px;

  }
  
  .grandFinaleImgTextDiv {
    padding-bottom:0px;

  }
  
  .moreInfoButton {
    width: 344px;
    font-size:12px;

  }
}
