/* GENERAL */
@import "./css/animations.css";
@import "./css/maanene.css";
@import "./css/romferdene.css";
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Italianno&family=Story+Script&display=swap');

:root{
  --primaryBackgroundColor:black;
  --primaryTextColor:white;
  --secondaryTextColor:#dcdcdc;
  --primaryMenuColor:#dcdcdc;
  --secondaryMenuColor:#fca75c;
  --primaryTextFontFamily:"Inknut Antiqua";
  --primaryFontFamily:"Story Script";
  --linkColor:lightblue;
  --borderColorMenu:white;
  --addedHamItemsColor : rgb(234, 212, 190);   
  /* --borderMobileMenuColor :#3b628a; */
  --borderMobileMenuColor: rgb(221, 221, 221);
  --headerBackgroundColor : black;

}

* {
  box-sizing: border-box;
}
.flex{

  display: flex;
}

/* BODY */

body {

  height:100%;
  margin:0;
  flex-direction: column;
  min-height: 100vh; 
  background-color: var(--primaryBackgroundColor);
}

/* HEADER */
header {
  
  background-color:var(--headerBackgroundColor);   /* svart her, ikke variabel, skal alltid være svart */
  width:100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border: 1px solid var(--borderColorMenu);
  z-index: 10;


}

audio {

  position:fixed;
  bottom :7rem;
  left : 1.2rem;

}


.headerNav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:30px;  
  padding-right:23px;
   
}


.darkLightIcon {
  margin-left:28px;
  height: 64px;
  /* height: 60px; */
  filter:brightness(80%)
}


.languageDiv {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 gap: 40px;
  color: #b17226;
}

.languageButton {
   padding: 10px 20px;
  color: inherit;
  font-family: var(--primaryFontFamily);
  font-size: 1.5em;

  background-color: var(--primaryBackgroundColor);
  border : 1px solid black;
  border-radius: 5px;
  transition: all 0.4s ease;

}

.languageButton:hover {
  border-color: #b17226;
   color:#7088C6;
}


.darkLightListItem {
  display: none;
  color : var(--addedHamItemsColor);
}

.laguageListItemMobile {
  color : var(--addedHamItemsColor);

}

.hamburgerLine {
  display: none;
}

.headerMenuColor {
  transition: color 0.3s ease-in;
}

.headerMenuColor:hover {
  color:#7088C6;
}
.lightMode {
  --primaryBackgroundColor:rgb(220, 220, 220);
  --primaryTextColor:black;
  --secondaryTextColor:black;
  --headerBackgroundColor : black;

  .lightModeImg {   box-shadow: 5px 5px 15px 17px rgba(0,0,0,0.49); border-radius:8%;  }
  .linkWikiPage { color:darkred; }
  .moreInfoButton { border: 4px solid black; }
  .moreInfoButton:hover { box-shadow: 0px 0px 15px 3px black; }
  .pioneerImg, .voyager1Img, .voyager2Img { mask-image: none; }
  .questionMarkImg { filter: invert();}
  .questionImage { filter: invert();}

}
 

a {
  color:var(--primaryMenuColor);
  text-decoration: none;
}

.navListHeader {

  display: flex;
  flex-direction: row;
  font-family: var(--primaryFontFamily);
  color:white;
  font-size: 32px;
  padding-left:0;
  gap:41px;
  list-style-type: none;
  
  
}

.hamburgerIcon {
  height:66px;
  filter:brightness(80%);
  opacity: 1;
  display: none;
  /* animation: filter 7s linear 0s infinite normal forwards; */
}

@keyframes filter 
{
  0% {filter: hue-rotate(0deg);}
  100% { filter:hue-rotate(360deg)}
}

.logoSaturnImg 
{
  /* width:73px; */
  height:63px;
  
}

.hidden {
  display: none;
}

.show, .hideHeaderMenu {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: absolute;
  top:4rem;
  left:2rem;
  font-size: 18px;
  z-index: 1000;
  gap:3px;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--borderMobileMenuColor);
}

.show {
  animation-name: slideInMenu;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
}

.hideHeaderMenu {
  animation-name: slideOutMenuLeft;
  animation-timing-function:ease-out;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 0;
}

@keyframes slideInMenu {
  0%   { transform: translateX(-100px); }  
  60%  { transform: translateX(25px); }
  100% { transform: translateX(0); }
}

@keyframes slideOutMenuLeft {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(20px); }
  100% { transform: translateX(-300px); }
}

/* HEADER styling mobile L or less */

@media (max-width: 501px) {

  header { height: 94px;} 

  .headerNav {
  
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  
  }

  .hamburgerIcon {
    display: flex;
   
  }

  .hamburgerLine {
    display: flex;
    border-color:var(--borderMobileMenuColor);
    width:110px;
    /* border: 1px solid white; */
  }

  .darkLightIcon {
    display: none;
  }

  .darkLightListItem, .laguageListItemMobile {
    display: flex;

   
  }

  .languageButton {
    display: none;
  }
}

@media (min-width: 502px)  {
  
  .hamburgerIcon {
    display:none;
   }

  .navListHeader, .navListRingene, .navListMaanene, .navListRomferdene, .subMenuDiv {
    display: flex;
  }

  .laguageListItemMobile {
    display: none;
  }
  
}

/* MAIN */

main {

  flex-grow: 1;

  color:var(--primaryTextColor);
  font-family: var(--primaryTextFontFamily);
  padding-bottom:52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBackgroundColor);
  transition: all 0.5s ease;
}

.mainClassHero {
    display: flex;
    align-items: center;
    
  
  
}

h1 {
  font-family: var(--primaryFontFamily);
  /* font-size: 96px; */
  font-size: 4.5vw;
  font-weight: normal;
  opacity: 0;
  margin-top: 0;
 
}

h2 {
   font-family: var(--primaryFontFamily);
   font-size:68px;
}

h3 {
  font-family: var(--primaryFontFamily);
  font-size:64px;
  color:var(--secondaryTextColor);
}

p {
  /* font-family: var(--primaryTextFontFamily); */
  font-size:1em;
  /* width:744px;  */
  width: 41vw;
  color:var(--primaryTextColor);
}

li {
  padding:0;
}
.sectionHome {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  /* width: 60%; */
  height: 100%;
}

/* Hero page klasser  */

.heroText {
  flex-direction: column;
  justify-content: c;
  align-items: center;
  color:var(--primaryTextColor);
  /* margin-bottom : 5.9em; */
  margin-bottom: 7%;
  width: 30%;

  /* margin-top:67px; */
}

.heroImg {
  /* width: 765px;
  height: 682px;
  margin-left: 50px;
  margin-top:108px; */
  /* width: 48em; */
  width: 30%;
  /* margin-left: 3.1em; */
  /* margin-top : 3em; */
  opacity: 0;

}
.quoteJK {
  font-family: "Italianno";
  /* font-size:36px; */ 

  /* width: 40%; */
  /* font-size : 2.2em;   */
  font-size : 1.6vw;
  padding:0;
  width: 100%;
  margin:0;
  opacity: 0;
}

.quoteCrediting {
  font-family: var(--primaryTextFontFamily);
  font-size:0.5vw;  padding-top:19px;
  width: auto;
  opacity: 0;
}

.mobileSetting {
  display: none;
}

@media (max-width: 501px) {
  h1 {
    font-size: 64px;
    margin-bottom: 27px;
    margin-top: 0px;
  }

  .heroText {
    padding-top: 58px;
  }
  .heroImg {
    width: 325px;
    height: 290px;
    margin:0;
  }

  .quoteJK {
    font-size: 24px;
    width: 342px;
    padding-top: 63px
  }

  .quoteCrediting {
    font-size: 10px;
    padding-top: 3px;
  }

  .mobileSetting {
    display:block;
  }

  .desktopSetting {
    display: none;
  }

  section {
    align-items: center;
  }
}

.visible {
  opacity: 1;
}

.notVisible {
  opacity: 0;
}

/* animation klasser for hero page */

.fadeInImage, .fadeInHeading, .fadeInQuote, .fadeInCredit, .fadeInFacts, .fadeInQuotePP {

   animation-name: fadeInAnimation;
   animation-timing-function: ease-in;
   animation-fill-mode: forwards;
}

.fadeInImage {
  animation-duration: 2.5s;
  animation-delay: 0s;
}
.fadeInHeading {
  animation-duration: 2.5s;
  animation-delay: 1s;
}

.fadeInQuote {
  animation-duration: 4s;
  animation-delay:  2s;  
}

.fadeInCredit {
  animation-duration: 1.5s;
  animation-delay:16s;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
 }



/* ----------- om.html klasser --------- */

.omSection {
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 200px
}

.omImg {
  /* width:471px;
  height:420px; */
  width : 25vw;
  min-width: 350px;
  
}

.omImgMobile
{
  display: none;
}

.quotePP
{
  font-family: "Gentium Plus";
  font-style: italic;
  font-size:20px;
  width: 617px; 
}

.headingAndQuoteDiv, .imageAndStatsDiv {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.headingAndQuoteDiv {
  gap:221px;
  padding-bottom: 43px;
}

.imageAndStatsDiv {
  gap:110px;
  padding-bottom: 109px;
}

.textFactCategorysDiv, .textFactsSaturnDiv {
  flex-direction: column;
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  width:auto;
  
}
.textFactCategorysDiv {
  font-weight: bold;
  opacity: 0;

}
.textFactsSaturnDiv {
  font-weight: normal;
  opacity: 0;
}

.textFactCategorys, .textFactsSaturn, .textFactsSaturnDistance {
  margin: 0;
  width:auto;
}

.minMaxFact {
  flex-direction: row;
  gap:5px;
}

.linkWikiPage {
  color:var(--linkColor);
}
.quoteCarolyn {
  width:845px;
  text-align: center;
}

.solarSystemImg, .saturnCoreImg {
  width: 50vw;
  margin-top:60px;
  margin-bottom: 60px;
}

.toTop {
  
  position: fixed;
  
  bottom: 50px;
  right: 80px;
  
  background-color:#7088C6;
  color:black;
  padding: 20px;
  border: 1px solid black;
  width:92px;
}

.showToTopButton {
  display: flex;

  animation-name: animToTopButton;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}

.removeToTopButton {
  animation-name: animRemoveButton;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}



@keyframes animToTopButton {

  0% { transform: translateX(2000px);}
  60% { transform: translateX(-200px);}
  100% { transform: tranlateX(0); }
}

@keyframes animRemoveButton {
  0% { opacity: 1; }
  100% { opacity: 0 }
}

@media (max-width: 501px) {

  h2 {
    font-size:48px;
    margin-top: 17px;
    margin-bottom: 28px;
   }

   p {
    font-size: 10px;
    width:80%;
   }

   .toTop {
    width: 42px;
    padding: 5px;
 
   }

  .quotePP {
    font-size:12px;
    width:218px;
  }
  .headingAndQuoteDiv {
    gap:0;
    flex-direction: column;
  }

  .imageAndQuoteDiv {
    gap:20px;
  }

  .omImg { 
    display:none; 
  }
  .omImgMobile { 
    display:flex;
    width:136px;
    height:121px;
  }
  .imageAndStatsDiv {
    gap:18px;
    padding-bottom: 19px;
  }
  .textFactCategorys, .textFactsSaturn {
    flex-direction: column;
    font-family: var(--primaryTextFontFamily);
    font-size: 10px;
    width:auto;
  }

  .minMaxFactDiv {
    flex-direction: column;
    gap:0px;
  }

  .textFactsSaturnDistance {
    margin:0;
    padding:0;
  }

  .solarSystemImg, .saturnCoreImg {
    width:409px;
  }

  .quoteCarolyn {
    width:341px;
  }

  .solarSystemImg, .saturnCoreImg {
    margin-top:37px;
    margin-bottom: 37px;
  }
 
}


.rotateAndFadeInImage {

  animation: rotateFade 2.8s ease-in-out 0s 1 normal backwards;
}

@keyframes rotateFade {
  0% {transform: rotateZ(38deg) rotateX(45deg); scale: 0.1; }
  70% { scale: 1}
  100% { scale: 1;   transform: rotateZ(0deg) rotateX(0deg);}
}

.zoomInClass
{
  animation-name: scaleIn;
  animation-duration: 2.2s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% { transform:scale(0);}
  /* 60% { transform:scale(1.2);} */
  100% {transform:scale(1);}
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1.8s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes slideInRight {
  0% { transform:translateX(3000);}
  /* 60% { transform:scale(1.2);} */
  100% {transform:translateX(0);}
}

.fadeInQuotePP 
{
  animation-duration: 1.9s;
  animation-delay: 0;
}

.fadeInFacts {
  animation-duration: 2.5s;
  animation-delay:0.2s;
}

/* -------   ringene.html klasser  ------------- */

.subMenuDiv {

  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primaryFontFamily);
  width:100%;
  height: 98px;
  border: 1px solid var(--borderColorMenu);

  position:sticky;
  top:106px;
  background-color: black;
  z-index: 8;


}

.logoTextDiv {

  align-items: center;
  gap:47px;
  padding-left:28px;
}

.logoRingeneImg{
  width:88px;
  height: 63px;
 
}

.subMenuAnchor {
  color:var(--secondaryMenuColor);
}

.subMenuText {
  font-size:60px;
  margin:0;
  padding:0;
  width:auto;
  color:white;
}
.navListRingene
{
  list-style-type: none;
  gap:37px;
  font-size: 32px;
  padding-left:0;
  padding-right:178px;
}

.subMenuBurger {
  display: none;
}
.textImage
{
  font-size: 10px;
  text-align: center;
}

.beskrivelseSection {
  scroll-margin-top:200px;
  flex-direction: column;
  align-items: center;
}
.komposisjonSection, .dannelseSection {
  flex-direction: column;
  align-items: center;
  scroll-margin-top:220px;
}

.textQuestionDiv
{
  position: relative;
  width:595px;
  height: 186px; 
  justify-content: center;
  align-items:center;
  padding-top:40px;
}

.questionText, .questionImage {
  display:flex;
  align-items:center;
  justify-content: center;
  position:absolute;
}

.questionText {
    
  width:auto;
  font-family: var(--primaryFontFamily);
  font-size:64px;
}

.questionImage {
  opacity:0.5;      
}

.cassiniShadowImgText, .ringsImgText, .moleculeImgText {
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
   
}

.videoText {
  width: 90%;
  padding-bottom: 20px;
  padding-top: 40px;
  flex-direction: column;
  align-items:center;
}

.showSubMenu, .hideSubMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  top:4.8rem;
  right:27%;
  background-color: black;
  /* border: 1px solid #dcdcdc; */
  border: 1px solid var(--borderMobileMenuColor);

}

.showSubMenu{
  animation-name: slideInMenuTop;
  animation-timing-function:ease-in-out;
  animation-fill-mode:backwards;
  animation-duration: 0.6s;
  animation-delay: 0;
  
}

.hideSubMenu {
    animation-name: slideOutMenuTop;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
    animation-duration: 1s;
    animation-delay: 0;
}

.ringSystemImg {
  width: 50vw;
}

.cassiniShadowImg {
  width: 80vw;
}

@media (max-width: 501px) {

  /* p og h2 satt i forrige media query */
  
  h3 {
    font-size: 2.2em; 
  }

  .navListRingene
  {
      list-style-type: none;
      gap:3px;
      font-size: 19px;
      padding-left:12px;
      padding-right:12px;
      padding-top:12px;
      padding-bottom:12px;
      z-index: 6;
  }

  .subMenuDiv {
    display: flex;
    justify-content: space-between;
    top:94px;
    width:100%;
    
  }


  .subMenuText {
    font-size: 2.2em;
  }

  .logoTextDiv {
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    gap: 0;
    /* margin-right: 10vw; */
    /* gap:3rem; */
    /* padding-left: 1.1rem; */
  }

  .subMenuBurger {
    display:flex;
    color:var(--secondaryMenuColor);
    font-family: var(--primaryFontFamily);
    font-size:32px;
    width:auto;
    margin:0px;
    padding: 0px;
  }

  .slideInMenuBurger {
    animation-name: slideInTop;
    animation-duration: 1.5s;
    animation-delay:1s;
  }
  
  .logoRingeneImg {
    width:85px;
    height:61px;
  }

  .subMenuTextAndBurgerDiv {
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    gap:0px;
    padding:0;
    margin-right: 10%;
  }

  .komposisjonSection {
    scroll-margin-top: 200px;
  }

  .dannelseSection {
    scroll-margin-top: 145px;
  }

  .cassiniShadowImgText, .ringsImgText {
    flex-direction: column;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 22px; 
  }

  .cassiniShadowImg {
    padding-top:0;
    width: 90%;
  }

  .moleculeImgText {
    padding:0;
    width: 100%;
  }

  .textQuestionDiv {
    padding-top:20px;
    width:420px;
    height: 94px; 
  }

  
  .ringSystemImg {
    width:90%;
  }

  .textImage {
    font-size: 0.3em;
  }

  .moleculeImg {
    width:194px;
    height:129px;

  }
  .questionText {
    font-size: 2.2em;


  }
  
  .questionImage {
    width:59px;
   }

  .videoText {
   padding-top: 20px;
   padding-bottom: 20px;
  }

  .video, .videoCassini {
    display: block;
    width:90%;
    height: 90%;
        
  }
}

@media (min-width: 502px)
{
  .slideInMenuItems {
    animation-name: slideInRight;
    animation-duration: 1.5s;
    animation-delay:1s;
  }
}
/* transition klasser */

 /* Endrer farge på meny ved hover  */

 .subMenuColor, .headerMenuColor {
    
    transition-property:color;
    transition-timing-function: ease-in-out;
    transition-delay:0s;
    transition-duration:0.4s; 
 }



.subMenuColor:hover {
  color: rgb(192, 0, 0);
}

/*  animasjonsklasser  */

.slideOutSubMenu {
  animation-name: animationSlideOutMenu;
  animation-duration: 0.5s;
  animation-delay:0;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@keyframes animationSlideOutMenu {
  0% { transform: translateY(0);}
  100% {transform: translateY(-100px); }
}


.slideInLogo, .slideInMenuHeading, .slideInMenuItems, .slideInMenuBurger {

  animation-timing-function:ease-in-out;
  animation-fill-mode:backwards;
 
}
.slideInLogo {
  animation-name: slideInLeft;
  animation-duration: 1.5s;
  animation-delay: 0;
}
.slideInMenuHeading {
  animation-name: slideInTop;
  animation-duration:1.5s;
  animation-delay: 0s;
}

.slideInMenuTop {
  animation-name: slideInTop;
  animation-timing-function:ease-out;
  animation-fill-mode:forwards;
  animation-duration: 0.5s;
  animation-delay: 0;
}

@keyframes slideInRight {
  0% { transform:translateX(1000px);}
  60% { transform: translateX(-50px);}
  100% { transform: translateX(0); }
}
@keyframes slideInTop {
  0% { transform:translateY(-100px);}
  100% { transform: translateY(0); }
}

@keyframes slideInMenuTop {
  0% { transform:translateY(-250px); }
  60% { transform:translateY(30px);}
  100% { transform: translateY(0); }
}

@keyframes slideOutMenuTop {
  0% { transform:translateY(0);}
  20% { transform:translateY(10px);}
  100% {transform:translateY(-500px);}
}

@keyframes slideInLeft {
  0% { transform: translateX(-300px); }
  100% { transform: translateX(0); }
}


/* FOOTER */

footer {
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  color: var(--secondaryTextColor);
  background-color: black;
  border: 1px solid var(--borderColorMenu);
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  height:94px;
   
} 

.logoKodeloftetImg {
  width:155px;
  padding-left: 28px;

}
.textNASA, .textWSCreated, .textMyName {
  margin: 0;
  padding: 0;
  width: auto;
}

.textNASA {
  text-align: center;
  /* text-decoration: underline; */
}

.textMyName {
   color: #EE7700;
   
 
}

.myInfoDiv {
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
}

.infoAndIconsDiv {
  flex-direction: row;
  align-items: center;
  gap:15px;
  padding-right:36px;
}

@media (max-width: 501px
) {

  .logoKodeloftetImg {
    display: none;
  }

  .myInfoDiv {
    display: none;
  }
  
  .textNASA {
    text-align: left;
    font-size: 10px;
    padding-left: 20px;
    
  }

  .infoAndIconsDiv {
    padding-right: 20px;
  }

}



